.navbar {
    width: 100%;
}

.container-fluid {
    display: flex;
    flex-flow: column;
}

.verze {
    border: 2px solid black;
    margin: auto;
    margin-top: 20px;
}

.row-top {
    flex: 0 1 auto;
}

.toolbar {
    flex: 0 1 auto;
    display: flex;
    flex-flow: row;
}

.row-main {
    flex: 1 1 auto;
}

.tool {
    flex: 0 1 auto;
    margin-left: 10px;
    border: 1px solid black;
}
