.navbar {
    width: 100%;
}

.container-fluid {
    display: flex;
    flex-flow: column;
}

.version {
    border: 2px solid black;
    margin: auto;
    margin-top: 20px;
}

.row-top {
    flex: 0 1 auto;
}

.toolbar {
    flex: 0 1 auto;
    display: flex;
    flex-flow: row;
}

.row-main {
    flex: 1 1 auto;
}

.tool {
    flex: 0 1 auto;
    margin-left: 10px;
}

.tool-first{
    box-shadow: -12px 0 0 -10px #808080
}

.tool-image{
    width: 20px;
    height: 20px;
}

.textarea {
    -moz-appearance: textfield-multiline;
    -webkit-appearance: textarea;
    border: 1px solid gray;
    font: medium -moz-fixed;
    font: -webkit-small-control;
    height: 28px;
    overflow: auto;
    padding: 2px;
    resize: vertical;
    width: auto;
    margin-bottom: 10px;
}

.focused{
    border: 1px, solid, black;
}

.question-container{
    min-height: 50px;
    width: auto;
    border: 2px solid gray;
}

.answers-container{
    min-height: 50px;
    width: auto;
    border: 1px dashed green;
    
    display: table;
}

.answer{
    min-height: 50px;
    min-width: 50px;
    border: 1px solid #ff0000;

    -moz-appearance: textfield-multiline;
    -webkit-appearance: textarea;
    font: medium -moz-fixed;
    font: -webkit-small-control;
    overflow: auto;
    resize: both;
    padding: 2px;
    margin-bottom: 10px;
    margin-left: 3px;
    margin-right: 3px;

    display: table-cell;
}

