.navbar {
    width: 100%;
}

.container-fluid {
    display: flex;
    flex-flow: column;
}

.version {
    border: 2px solid black;
    margin: auto;
    margin-top: 20px;
}

.row-top {
    flex: 0 1 auto;
}

.toolbar {
    flex: 0 1 auto;
    display: flex;
    flex-flow: row;
}

.row-main {
    flex: 1 1 auto;
}

.tool {
    flex: 0 1 auto;
}

.tool-first{
    box-shadow: -12px 0 0 -10px #808080
}

.hidden {
    display: none;
}

.tool-image {
    width: 20px;
    height: 20px;
}

.textarea {
    -moz-appearance: textfield-multiline;
    -webkit-appearance: textarea;
    border: 1px solid grey;
    font: medium -moz-fixed;
    font: -webkit-small-control;
    height: 28px;
    overflow-wrap: break-word;
    padding: 4px;
    resize: vertical;
    overflow: auto;
}

.focused {
    border: 1px solid black;
}

.question-pop-up {
    min-height: 24px;
    min-width: 70%;
    display: none;
}

.question-container {
    min-height: 80px;
    min-width: 70%;
    border: 1px hidden grey;
}

.question-container:hover {
    border: 1px solid grey;
    border-radius: 8px;
    background-color: rgba(3,118,255,0.25);
}

.question-container:hover .question-pop-up {
    display: block;
}

.question-container:focus {
    border: 1px solid grey;
    border-radius: 8px;
    background-color: rgba(3,118,255,0.25);
}

.question-text {
    max-width: 80%;
    display: table-cell;
}

.question-heading {
    padding: 15px 15px 0 15px;
}



.answers-container {
    min-height: 50px;
    max-width: 100%;
    width: auto;
    padding: 15px;
    
    display: table;
}

.answer {
    min-height: 50px;
    min-width: 50px;
    max-width: 80%;

    margin-bottom: 10px;
    margin-left: 3px;
    margin-right: 3px;

    display: table-cell;
}

.answer-number {
    min-width: 50px;
    display: table-cell;
    font: medium -moz-fixed;
    margin-bottom: 10px;
    margin-left: 3px;
    margin-right: 3px;
}

.answer-row {
    margin-bottom: 10px;
}

.vertical-bar:before {
    content: "|";
    padding-right: 10px;
}

[contenteditable="true"]:focus {
    border: 2px solid #8897DE;
}

.inline-list {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding-left: 15px;
    padding-bottom: 5px;
}

.inline-list-item {
    float: left;
    background-color: silver;
}

.list-link {
    padding: 5px;
}

.answer-delete {
    display: table-cell;
    padding-left: 5px;
}

#col-verze{
	//background-color: #B7C1F0;
	background-color: #dbdff1;
	min-height: 95%;
	margin-top: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#col-sablony{
	//background-color: #B7C1F0;
	background-color: #dbdff1;
	min-height: 95%;
	margin-top: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#sablony-nadpis{
	font-family: Adobe Garamond Pro Bold;
	font-size: 2em;
	user-select: none;
}

#col-main{
	background-color: white;
	min-height: 95%;
	margin-top: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.miniatura {
    border: 2px solid black;
    margin: auto;
    margin-top: 20px;
}

.min-image{
	width: 120px;
	height: 100px;
}